<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7W1XWt39wxCwQDnOVUDrs9BdZIfs5EeY</string>
	<key>GCM_SENDER_ID</key>
	<string>523367324114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rota</string>
	<key>PROJECT_ID</key>
	<string>rota-4b15b</string>
	<key>STORAGE_BUCKET</key>
	<string>rota-4b15b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523367324114:ios:ef99a75a5fe7c6d9c8900b</string>
	<key>DATABASE_URL</key>
	<string>https://rota-4b15b-default-rtdb.firebaseio.com</string>
</dict>
</plist>